<nav class="mailNav">
    <div id="gmailLogo">
        <span>Gmail</span>
        <span class="downArrowRed" content=" "></span>
    </div>
    <div class="letterOption">
        <button class="theButton" title="Вибрати">
            <span class="downArrow" content=" "></span>
        </button>
        <button class="theButton" title="Оновити">
            <span id="refreshButton" content=" "></span>
        </button>
        <button class="theButton">
            <span class="downArrow" content=" "></span>
        </button>
    </div>
    <a id="letterNumber" href="#"><b>{{from}}-{{to}}</b> із <b>{{quantity}}</b></a>
    <div class="letterGide">
        <button class="theButton">
            <span id="oldButton" class="MailSwitch" title="Старіші" content=" "></span>
            <span class="MailSwitch" title="Новіші" content=" "></span>
        </button>
        <button class="theButton" title="Налаштування">
            <span id="settingsButton" content=" "></span>
            <span class="downArrow" content=" "></span>
        </button>
    </div>
</nav>
