<nav class="mailNav">
    <a id="gmailLogo" href="#">Gmail
    <span ></span></a>
    <div class="letterOption">
        <button type="button" title="Вибрати"><img src="style/img/choose.png"/></button>
        <button type="button" title="Оновити"><img src="style/img/restore.png"/></button>
        <a href="#"><img src="style/img/more.png"/></a>
    </div>
    <a id="letterNumber" href="#"><b>1-...</b> із <b>... </b></a>
    <div class="letterGide">
        <a href="#" title="Старіші"><img src="style/img/older.png"></a><a href="#" title="Новіші"><img src="style/img/resent.png"></a>
        <button type="button" title="Налаштування"><img src="style/img/propertise.png"/></button>
    </div>
</nav>
