<div id="usingMemory">
    <b>Використано {{usingMemoryPercent}}%</b><br/>
    usingMemorySize 0,1 Гб з {{memorySize}} Гб
</div>

<div id="copyright">
    &copy; Google,{{copyrightEditionYear}} - <a href="http://mail.google.com/mail/help/intl/uk/terms.html">Умови та конфіденційність</a>
</div>

<div id="lastDid">
    Остання діяльність в обліковому записі: {{lastActivityTime}} тому <br/><a href="https://mail.google.com/mail/u/0/?ui=2&ik=8e13ba2dc8&view=ac">Подробиці</a>
</div>