<button type="button" id="writeButton"><img src="style/img/write.png"/></button><br/>
<nav class="letterNav">
    {{#letterNav}}
        <a href="{{url}}"> {{label}} </a><br/>
    {{/letterNav}}
</nav>
<a href="#" id="chat"><img src="style/img/chat.png" title="Чат"/></a>
